<%= form_with model: poem do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.text_field :lines, required: true, size: "50x5", maxlength: Poem::MAX_VERSE_CHAR_LENGTH %>
  </div>
  <%= form.button %>
<% end %>
  